<div class="jumbotron">
	
	<% if @bid.challenger_guess.present? %>
		<% if @bid.recip_guess == @bid.challenger_guess %>
			<h1>You won!!!<h1><br>
			<h1><%= @bid.receiver.username %> must now...<%= @bid.description %><br>
			<%= link_to 'Back to Bids', bid_path(@bid, completion_status: "complete_the_challenge"), method: "PATCH", class: "btn btn-info" %>
		<% else %>
			<h2>You lost. <h2>
			<h1>Wait for <%= @bid.receiver.username %> to decided to run it back!<h1>
			<%= link_to 'Back to Bids', bid_path(@bid, completion_status: "lost"), method: "PATCH", class: "btn btn-info" %>
		<% end %>
	<% else %>
		<h1>Odds Are... 1 in <%= @bid.range %></h1>
		<h3><%= @bid.description %></h3>
		<%= form_for @bid, url: bid_path(@bid, redirect_to: edit_bid_path(@bid)), method: :patch do |b| %> 
			<%= b.number_field :challenger_guess, :in => 0..@bid.range, :step => '1' %>
			<p> GUESS!</p>
			<%= b.hidden_field :completion_status, :value => "determine_winner" %>
		<%end%>		
	<% end %>
</div>	