 <div class="jumbotron">
	<h1>Odds Are...1 in <%= @bid.range %></h1>
	<h3>I will... <%= @bid.description %></h3>
	<%= form_for @bid, method: :patch do |b| %> 
		<%= b.number_field :recip_guess, :in => 0..@bid.range, :step => '1' %>
		<p> GUESS!</p>
		<%= b.hidden_field :completion_status, :value => "ready_for_challenger" %>
	<%end%>
</div>
