<table class="table table-striped">
  <h2> Sent Bids <h2>
  <thead>
    <tr>
      <th>You sent... the bid.</th>
      <th>Challenge Descriptión</th>
      <th>Status</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @sent_bids.each do |bid| %>
      <tr>
          <td><%= User.find(bid.receiver).username %></td>
          <td><%= bid.description %></td>
          <% if bid.completion_status == "ready_for_range" %>
            <td>Waiting for Recipient to Accept</td>
          <% elsif bid.completion_status == "ready_for_challenger" %>
            <td><%= link_to 'PLAY.',edit_bid_path(bid), class: "btn btn-success" %></td>
          <% elsif bid.completion_status == "complete_the_challenge" %>
            <td><%= link_to 'Still havent completed bid.',edit_bid_path(bid), class: "btn btn-info" %></td>
          <% elsif bid.completion_status == "lost" %>
            <td><button type="button" class="btn btn-danger">LOST. Will it be run back?</td>
          <% elsif bid.completion_status == "completed" %>
              <td><%= link_to 'View Completed Bid.',bid_path(bid), class: "btn btn-primary" %></td>
          <% elsif bid.completion_status == "no_runback" %>
              <td><button type="button" class="btn btn-danger">No Runback. Game over.</button></td>
          <% elsif bid.completion_status == "runback_to_challenger" %>
              <td><%= link_to 'Runback Time :)',edit_bid_path(bid), class: "btn btn-primary" %></td>
          <% elsif bid.completion_status == "will_complete_bid" %>
              <td><%= link_to 'Complete the Bid like a Champ.',bid_path(bid), class: "btn btn-primary" %></td>
          <% elsif bid.completion_status == "run_over" %>
              <td><button type="button" class="btn btn-danger">No Runback For You.</button></td>
          <% end %>
          <td><%= link_to 'Destroy', bid, method: :delete, data: { confirm: 'Are you sure?' } %></td> 
      </tr>
    <% end %>
  </tbody>
      
  
</table> 

<%= paginate @sent_bids %>