
<table>
  <thead>
    <tr>
      <th>Sender: Challenger</th>
      <th>Reciever: Pussy</th>
      <th>Challenge Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @bids.each do |post| %>
      <tr>
        <td><%= bid.sender_id %></td>
        <td><%= bid.reciever_id %></td>
        <td><%= bid.description %></td>
        <td><%= link_to 'Show', post %></td>
        <td><%= link_to 'Edit', edit_post_path(post) %></td>
        <td><%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>