<div class="container">

	<h1> Bid Creation Page </h1>
	<!-- creates the search bar that will eventually search the friends -->
	<div class="form-group">
		<%= form_tag(new_bid_path, method: "get") do %>
		<%= label_tag(:q, "Search a friend to challenge:") %>
		<%= text_field_tag(:q) %>
		<% end %>
	</div>
	<!-- creates the text area for the challenge -->
<div class="container">
	<%= form_for @new_bid do |f| %>	
		<%= f.label :description, "Challenge someone if you dare..." %>
		<% if @users %>
			<%= f.select(:receiver_id, options_for_select(@users.map {|user| [user.username, user.id]})) %><br>
				<!-- do select_tag, pass in options_for_select, pass  here -->
		<% end %>
		<%= f.text_area :description, :size => "30x20" %>
		<%= f.submit "Legends Never Die." %>
	<% end %>
</div>
</div>

