<div class="jumbotron">
	<h1> Bid Creation Page </h1>
	<!-- creates the search bar that will eventually search the friends -->
	<% if  @bid.receiver_id == nil%>
	<div class="form-group">
		<%= form_tag(new_bid_path, method: "get") do %>
		<%= label_tag(:q, "Search a friend to challenge:") %>
		<%= text_field_tag(:q) %>
		<% end %>
	</div>
	<% else %>
	<p>Send bid to <%= "#{User.find(@bid.receiver_id).username}" %></p>
	<% end %>
	
	<!-- creates the text area for the challenge -->
	<%= form_for @bid do |f| %>
	<%= f.label :description, "What is the challenge for" %>
	<% if @users %>
	<%= f.select(:receiver_id, options_for_select(@users.map {|user| [user.username, user.id]})) %><br>
	<!-- do select_tag, pass in options_for_select, pass  here -->
	<% else %>
	<input type="hidden" id="user_token" name="bid[receiver_id]" value="<%= @bid.receiver_id %>" />
	<% end %>
	<%= f.text_area :description, :size => "1x1", class: "form-control" %>
	<%= f.submit "Legends Never Die." %>
	<% end %>
</div>