<h1>Hi MICAH</h1>
<div class="jumbotron">
	<h2><%= @bid.receiver.username %> has completed <%= @bid.description %></h2>
	<% if @bid.bid_complete.present? %>
		<%= image_tag @bid.bid_complete.url(:medium) %>
	<% else %>
		<%= form_for @bid do |f| %>
			<%= f.label :bid_complete %><br />
		  	<%= f.file_field :bid_complete %>
		  	<%= f.submit %>
		  	<%= hidden_field_tag :redirect_to, bid_path(@bid) %>
		<% end %>
	<% end %>
	
</div>