
<div class="jumbotron">
	<% if @bid.runback_challenger_guess.present? %>
		<h2><%= @bid.sender.username %> has completed <%= @bid.description %></h2>
	<% else %>
		<h2><%= @bid.receiver.username %> has completed <%= @bid.description %></h2>
	<% end %>
	
	<% if @bid.bid_complete? %>

		<%= image_tag @bid.bid_complete.url(:medium)%><br>
		<%= link_to "Back to Bids", bids_path, class: "btn btn-info" %>
	<% else %>
		<%= form_for @bid do |f| %>
			<%= f.label :bid_complete %><br />
		  	<%= f.file_field :bid_complete %>
	  		<%= f.hidden_field :completion_status, :value => "completed" %>
			<%= hidden_field_tag :redirect_to, bid_path(@bid) %>		
		    
		    <br/>
		  	<%= f.submit class: 'btn btn-success' %>		  	
		<% end %>
		
		<br/>
		<%= link_to "If not ready to complete", bids_path, class: "btn btn-info" %>
	<% end %>
	
</div>