
<div class="jumbotron">
	<h2><%= @bid.receiver.username %> has completed <%= @bid.description %></h2>
	<% if @bid.bid_complete.present? %>
		<%= image_tag @bid.bid_complete.url(:medium) %><br>
		<%= link_to "Back to Bids", bids_path, class: "btn btn-info" %>
	<% else %>
		<%= form_for @bid do |f| %>
			<%= f.label :bid_complete %><br />
		  	<%= f.file_field :bid_complete %>
	  		<%= f.hidden_field :completion_status, :value => "completed" %>
			<%= hidden_field_tag :redirect_to, bid_path(@bid) %>		
		
		  	<%= f.submit %>		  	
		<% end %>
		
		<%= link_to "If not ready to complete", bids_path, class: "btn btn-info" %>
	<% end %>
	
</div>