<!-- i want a new jumbotron for each bid -->

<% @bids.each do |bid| %>
	<div class="jumbotron">
		<h1><%= bid.description.titleize %></h1>
	<% if bid.runback_challenger_guess.present? %>
		<h2><%= bid.sender.username %> has lost a 1 in <%= bid.range %> odds</h2>
	<% else %>
		<h2><%= bid.receiver.username %> has lost a 1 in <%= bid.range %> odds</h2>
	<% end %>
		<%= image_tag bid.bid_complete.url(:medium) %>
	</div>

<% end %>

