<!-- twitter bootstrap: grid system, default themes on the left column I need user image, status, about fields and bid button -->

<div class="row">
	<h2 class= "col-md-12 centered"> <%= @other_user.username %></h2>
</div>
<div class="row">
	<div class="col-md-4">
		<%= image_tag current_user.profile_pic.url(:medium),  id: "profile_pic" %><br>	
		
		<h5> <%= current_user.username %> has completed <%= Bid.number_of_completed_bids_for_user(current_user) %> bids.</h5><br>
		<div class="progress">
	  		<div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
	    	<span class="sr-only"> Complete</span>
  		</div>
		</div>	
		<input type="text" class="form-control" placeholder="About Me">
	</div>
	<% if current_user.friends?(@other_user) %>
		<%= render 'friend_profile' %>

	<% elsif current_user == @other_user %>
	<div class="col-md-8">
		<h4>Where the biddies go.</h4>
		<%= link_to 'My Friends', friendships_path(params: {id: params[:id]}), class: "btn btn-primary btn-lg" %>
	</div>
	<% else %>
	<p> You are not friends with <%= @other_user.username %></p>
	<% if current_user.pending_friends?(@other_user) %>
	<%= link_to "Friendship with #{@other_user.username} pending", user_path(@other_user), method: :get, class: "btn btn-primary btn-lg" %>
	<% else %>
	<%= link_to "Add #{@other_user.username}", friendships_path(@friendship, accepter_id: params[:id]), method: :post, class: "btn btn-primary btn-lg" %>

	<% end %>
	<% end %>


</div>
<div class= "col-md-5"> <%= current_user.username %></div>
