<% if @friend_requests.empty?  %>
	<p> You have no pending requests</p>
<% else %>
	<% @friend_requests.each do |pf| %>
		<ul>
			<div class="friendrequests">
				<li><%= image_tag pf.requester.profile_pic.url(:thumb), id: "nav_pic" %><span><%= "#{pf.requester.first_name.titleize} #{pf.requester.last_name.titleize} "%></span><br><br></li>
				
				<li><%= link_to 'accept friend', friendship_path(pf, status: "accepted"), method: :patch, class: "btn-sm btn-black" %> </li
					 		>
		 		<li><%= link_to 'decline friend', friendship_path(pf, status: "declined"), method: :patch, class: "btn-sm btn-black"  %></li>
			 </div>
		</ul>
	<% end %>	
<% end %>
<br>
<p>
	<%= link_to 'Back to Profile', user_path, method: :get, class: "btn btn-black" %></p>
</p>
